* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    
}


/* CUSTOM SCROLLBAR */
/* width */
::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    background: white;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: gold;
    border-radius: 10px;
}


body {
    font-family: 'Poppins', sans-serif;
}

:root {
    --bold-font-weight: 700;
    --large-font-weight: 600;
    --medium-font-weight: 500;
    --small-font-weight: 400;
}

a {
    color: inherit;
    outline: none;
    text-decoration: none;
    
}

li {
    list-style: none;
}




/* open and close mobile nav */
.mobile-nav {
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    left: -2000px;
    padding: 20px;
    position: absolute;
    text-align: center;
    transition: 1s ease-in-out;
    width: 100%;
    z-index: 9999;

}

.mobile-nav.show {
    left: 0;
    transition: 0.4s ease;
}   /* end of open and close hamburger nav */ 


.mobile-nav li {
    list-style: none;
}

.mobile-links {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    gap: 30px;

}

.fa-xmark {
    font-size: 2.5rem;
    margin: 30px 30px;
    position: absolute;
    right: 0;
    top: 0;
}

.fa-bars {
    display: none;
    font-size: 2rem;
    margin: 20px 20px;
}

.site-nav {
    align-items: center;
    display: flex;
    font-size: 1rem;
    font-weight: var(--large-font-weight);
    justify-content: space-between;
    padding: 1em 3em;
}


.site-logo {
    align-items: center;
    cursor: pointer;
    display: flex;
    gap: 20px;
}

.fa-car-side {
    color: gold;
    font-size: 3rem;
    transform: scaleX(-1);
    transition: 0.5s;
}

.fa-car-side:hover {
    color: black;
    
}

.fa-location-dot, .fa-calendar-days, .fa-car{
    color: gold;
    font-size: 1.2rem;
}

.logo-text {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}

.logo-top-text {
    font-weight: var(--bold-font-weight);
}

.logo-bottom-text {
    font-size: 1.3rem;
    font-weight: var(--small-font-weight);
}



.site-nav-links {
    display: flex;
}

.site-links {
    align-items: center;
    display: flex;
    gap: 30px;
    font-size: 1rem;
    font-weight: var(--large-font-weight);
}

.site-links a {
    transition: 0.5s;
}

.site-links a:hover {
    color: gold;
}

.site-links-right {
    display: flex;
    gap: 20px;
}

.sign-in-btn {
    font-size: 1rem;
    transition: 0.5s;
}

.sign-in-btn:hover {
    color: gold;
}

.primary-btn {
    background: gold;
    border-radius: 3px;
    border: none;
    box-shadow: 0.5px 0.5px 5px black;
    color: white;
    padding: 0.9em 2em;
    transition: 0.5s;
}

.primary-btn:hover {
    background: black;
}   /* end of navigation */


/* HEADER SECTION */
header {
    padding: 2rem;
    background-image: url('images/red-gwagon.png');
    background-repeat: no-repeat;
    background-position: bottom left;
    background-position-x: -259px;
    height: 100vh;
}


.bd-text-heading {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.5rem;
    font-weight: var(--bold-font-weight);
    font-size: 3rem;
    padding: 2em 0em;
}

.bd-text {
    font-size: 2.5rem;
    font-weight: var(--bold-font-weight);
    line-height: 3rem;
}

.sml-text {
    font-size: 1.3rem;
    font-weight: var(--small-font-weight);
    line-height: 2.5rem;
}

.header-content {

    padding: 0em 1em;
    margin: 0 40em;
    width: 50%;
    
    
}

.header-right {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-bottom: 1em;
}

.emphasis {
    font-weight: var(--bold-font-weight);
    color: gold;
}

.groups {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.fa-gauge, .fa-user-shield, .fa-earth-americas {
    font-size: 3.5rem;
    
}

.group-1, .group-2, .group-3 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.number {
    font-size: 4.5rem;
    font-weight: var(--bold-font-weight);
    color: gold;
}

.img-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.group-text {
    font-size: 1.3rem;
    font-weight: var(--small-font-weight);
    line-height: 1.3rem;
}

.text-group {
    display: flex;
    align-items: center;
    gap: 5px;
}

/* PLANNING SECTION */
.trip-planning {
    padding: 12em 2em;
}

.trip-planning-header {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 3em 0em;
}

.trip-planning-wrapper {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.trip-planning-sm-text {
    font-size: 1.2rem ;
    font-weight: var(--small-font-weight);
}

.trip-planning-lg-text {
    font-size: 2.5rem ;
    font-weight: var(--bold-font-weight);
}

.planning-feature-groups {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
}

.planning-feature {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1.2em;
    justify-content: center;
    padding: 0rem 3rem;
    text-align: center;
}

.planning-feature p {
    font-weight: var(--small-font-weight);
}

.fa-car-tunnel, .fa-headset, .fa-car-burst {
    background: black;
    border-radius: 90% 30% 30% 90%;
    color: gold;
    font-size: 4rem;
    padding: 0.3em;
    
}

h5 {
    font-size: 1.5rem;
    font-weight: var(--large-font-weight);
}

/* BANNER SECTION */
/* BANNER SECTION */
.banner {
    align-items: center;
    background: #333333;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    
    padding: 3em 0em;
    text-align: center;
}

.banner-header {
    font-size: 2.5rem;
    font-weight: var(--bold-font-weight);
}

.banner-text {
    font-size: 1rem;
    font-weight: var(--small-font-weight);
}

.low-rates-text {
    color: gold;
}


.about {
   display: flex;
    padding: 2rem;
   
}

.about img {
    margin: 0 auto;
    
    width: 90%;
}

/* FOOTER SECTION */
/* FOOTER SECTION */
footer .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 2em;
    gap: 2em;
}

.small-text {
    font-size: 1rem;
    font-weight: var(--small-font-weight);
}

.large-text {
    font-size: 1.5rem;
    font-weight: var(--large-font-weight);
    text-transform: uppercase;
    padding-bottom: 0.5rem;
}

.logo {
    font-size: 2rem;
    font-weight: var(--large-font-weight);
}

.section-1 {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
.contact-info {
    display: flex;
    flex-direction: column;
    padding: 1em 0em;
}

.section-2 ul, .section-3 ul {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
.section-2 a:hover {
    text-decoration: underline;
}

#email-input {
    border-radius: 3px;
    border: none;
    background: lightgray;
    width: 250px;
    text-align: center;
    font-size: 16px;
    font-weight: var(--large-font-weight);
    padding: 0.9em;
}

#email-btn {
    background: gold;
    border-radius: 3px;
    border: none;
    box-shadow: 0.5px 0.5px 5px black;
    color: white;
    padding: 0.9em 2em;
    width: 250px;
    font-weight: var(--bold-font-weight);
}

#email-btn:hover {
    background: black;
    cursor: pointer;
    background: black;
    color: white;font-weight: var(--large-font-weight);
}

.section-4 {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1152px){
   

    .site-nav {
        padding: 0;
    }
}

@media screen and (max-width: 1165px){
    .fa-bars {
        display: block;
    }

    .site-links, .site-links-right {
        display: none;
    }

    .site-nav {
        padding: 0em 2em;
    }
}

@media screen and (max-width: 1258px) {
    header {
        background-position-x: -342px;
    }

    .header-content {
        margin: 0 32em;
    }
}

@media screen and (max-width: 1127px) {
    header {
        background-position-x: -350px;
    }

    .header-content {
        margin: 0 28em;
    }
}

@media screen and (max-width: 1060px) {
    header {
        background-position-x: -375px;
    }

    .header-content {
        margin: 0 25em;
    }
}

@media screen and (max-width: 1039px) {

header {
    background-position: center;
}

.header-content {
    margin: 0 auto;
    padding-top: 20em;
    width: 80%;
}
}

@media screen and (max-width: 729px) {

    header {
        background-position: center;
        background-size: 100%;
    }
    
    .header-content {
        margin: 0 auto;
        padding-top: 20em;
        width: 80%;
    }
}

@media screen and (max-width: 716px) {

    .number {
        font-size: 2.5rem;
    }

    .group-text {
        font-size: 1rem;
    }

    .fa-gauge, .fa-user-shield, .fa-earth-americas {
        font-size: 2.5rem;
        
    }

}

@media screen and (max-width: 680px) {

   .header-content {
    width: 90%;
    padding: 15em 2em;
   }

}

@media screen and (max-width: 596px) {

    .header-content {
     width: 90%;
     padding: 15em 2em;
    }
 
    .groups {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }
 }

 @media screen and (max-width: 500px) {

    .header-content {
     width: 100%;
     padding: 15em 2em;
    }
 
    .groups {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 30px;
    }

    .group-1, .group-2, .group-3 {
        
        align-items: center;
    
    }

    .bd-text {
        font-size: 2rem;
       }
       
       
        .sml-text {
        font-size: 1.1rem;
        padding-bottom: 2rem;
       }

 }



 @media screen and (max-width: 315px) {

    .bd-text {
     font-size: 1.5rem;
    }
    
    
     .sml-text {
     font-size: 1rem;
     padding-bottom: 2rem;
    }
}

@media screen and (max-width: 1039px) {

   .trip-planning {
    margin-top: 20em;
    padding: 12em 0em;
   }

   .planning-feature-groups {
    align-items: start;
   }
}

@media screen and (max-width: 784px) {

    
 
    .planning-feature-groups {
     grid-template-columns: 1fr 1fr;
     gap: 2em;
    }
 }

 @media screen and (max-width: 588px) {

    
 
    .planning-feature-groups {
     grid-template-columns: 1fr;
     gap: 2em;
    }

    .trip-planning {
        margin-top: 30em;
       
       }
 }

 @media screen and (max-width: 588px) {

    .trip-planning-wrapper {
        gap: 0;
    }

    .trip-planning {
        margin-top: 35em;
       
    }
 }

 @media screen and (max-width: 424px) {

    

    .trip-planning {
        margin-top: 40em;
       
    }
 }

 @media screen and (max-width: 400px) {

    

    .trip-planning {
        margin-top: 50em;
       
    }
 }

 @media screen and (max-width: 344px) {

    

    .trip-planning {
        margin-top: 60em;
       
    }
 }

 @media screen and (max-width: 273px) {

    

    .trip-planning {
        margin-top: 70em;
       
    }
 }


 @media screen and (max-width: 1000px) {
    footer .wrapper {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 660px) {
    footer .wrapper {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 554px) {
    footer .wrapper {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .section-4 {
        justify-content: center;
        align-items: center;
    }
}