* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    scrollbar-color: black;
    scrollbar-width: thin;
    
}

body {
    font-family: 'Poppins', sans-serif;
}

:root {
    --bold-font-weight: 700;
    --large-font-weight: 600;
    --medium-font-weight: 500;
    --small-font-weight: 400;
}

a {
    text-decoration: none;
    outline: none;
    color: inherit;
}

li {
    list-style: none;
}

.mobile-nav {
    background: black;
    color: white;
    display: flex;
    display: none;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    padding: 20px;
    text-align: center;
    width: 100%;

}


.mobile-nav li {
    list-style: none;
}

.mobile-links {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    gap: 30px;

}

.fa-xmark {
    font-size: 2.5rem;
    margin: 30px 30px;
    position: absolute;
    right: 0;
    top: 0;
}

.fa-bars {
    display: none;
    font-size: 1.5rem;
    margin: 20px 20px;
}

.site-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 1rem;
    font-weight: var(--large-font-weight);
}


.site-logo {
    align-items: center;
    cursor: pointer;
    display: flex;
    gap: 20px;
}

.fa-car-side {
    font-size: 3rem;
    color: gold;
    transform: scaleX(-1)
}

.logo-text {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    font-weight: var(--bold-font-weight);

}



.site-nav-links {
    display: flex;
}

.site-links {
    align-items: center;
    display: flex;
    gap: 30px;
    

}

.site-links-right {
    display: flex;
    gap: 20px;
}

.hero-btn {
    background: gold;
    color: white;
    padding: 15px;
    border-radius: 5px;

}