* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    scrollbar-color: black;
    scrollbar-width: thin;
    
}

body {
    font-family: 'Poppins', sans-serif;
}

:root {
    --bold-font-weight: 700;
    --large-font-weight: 600;
    --medium-font-weight: 500;
    --small-font-weight: 400;
}




